@import "tailwindcss";

.square {
    position: absolute;
    filter: blur(8px) brightness(1.2);
    animation: pulse 2s ease-in-out infinite, glow 3s ease-in-out infinite alternate;
    will-change: transform, opacity, filter;
    transition: opacity 1s ease;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.4);
        opacity: 0.8;
    }
}

@keyframes glow {
    0% {
        filter: blur(8px) brightness(1.2);
    }
    50% {
        filter: blur(12px) brightness(1.6);
    }
    100% {
        filter: blur(8px) brightness(1.2);
    }
}